body {
  margin: 0;
}

section {
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center;

  h2 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    top: 40%;
    position: absolute;
    width: 100%;
  }
}

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    transform: scale3d(.95, .95, .95) rotate3d(0, 0, 1, -2deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, 2deg);
  }

  40%, 60%, 80% {
    transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, -2deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  animation-name: tada;
  animation-duration: .8s;
}

$yellow: #ffe600;
$dark: #131316; 

#team-component {

  .container {
  
    .section-title {
      text-align: center;
      text-transform: uppercase;
      margin: 0;
    }

    .section-description{
      text-align: center;
      margin-bottom: 40px;
    }
    
    .team-cards {

      .team-card {

        img {
          height: 300px;
          width: 90%;
          margin: 0 auto;
          display: block;
        }

        .name {
          text-transform: uppercase;
          text-align: center;
          color: $yellow;
        }

        .position {
          text-transform: uppercase;
          text-align: center;
        }

        .arrow-up {
          opacity: 0;
          width: 0; 
          height: 0; 
          margin: 25px auto 0 auto;
          border-left: 25px solid transparent;
          border-right: 25px solid transparent;
          border-bottom: 25px solid $dark;
        }

        .skill-description {
          background-color: $dark;
          color: white;
          position: absolute;
          left: 0;
          width: 100%;
          transition: opacity 1s;

          .description {
            display: none;
            width: 70%;  
            margin: 0 auto;
            max-width: 900px;
            padding: 40px 0;
            position: relative;
            
            .close {
              position: absolute;
              right: 20px;
              margin: 16px;
              transition: .5s;

              &:hover {
                cursor: pointer;
                font-size: 1.2em;
              }
            }

            .employee-name {
              text-transform: uppercase;
              color: $yellow;
            }
          }

          .active {
            display: block;
          }
        }
      }

      .active {
          
        .arrow-up {
          opacity: 1;
          transition: opacity 1s;
        }
      }
    }
  }
}
