$yellow: #ffe600;
$dark: #131316;

* {
  font-family: Cambay;
}

body {
	margin: 0;
	padding: 0;
}

#slider-component {

	.container {

		.slider-wrapper {
			width: 600px;
			overflow-x: hidden;

			#slider {

				width: 10000px;

				.slide {
					display: inline-block;
					float: left;
					width: 600px;
					height: 500px;
				}

				#slide-1 {
					background-color: red;
				}

				#slide-2 {
					background-color: green;
				}

				#slide-3 {
	        background-color: blue;
				}
			}
		}
	}
}